@model IEnumerable<Order>
@{
    ViewData["Title"] = "UserOrders";
}

<div style="width:100%;">
    <a href="/Identity/Account/Manage" class="btn btn-primary mb-3">Back</a>

    <h4>My Orders</h4>
    @if (Model != null && Model.Count() > 0)
    {
        <table class="table table-hover table-striped">
            <tr>
                <th>OrderDate</th>
                <th>OrderStatus</th>
            </tr>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.CreateDate.ToString("dd-MM-yyyy")</td>
                    <td>@order.OrderStatus.StatusName</td>
                </tr>
                @if (order.OrderDetail != null && order.OrderDetail.Count > 0)
                {
                    <tr>
                        <td>
                            <table class="table table-hover table-striped">
                                <tr>
                                    <td>
                                        Total:
                                    </td>
                                    <td>
                                        @(order.OrderDetail.Select(item => item.Book.Price * item.Quantity).Sum())

                                    </td>
                                </tr>
                                <tr>
                                    <th>Book</th>
                                    <th>Image</th>
                                    <th>Genre</th>
                                    <th>Unit Price(INR)</th>
                                    <th>Total Price</th>
                                </tr>
                                @foreach (var item in order.OrderDetail)
                                {
                                    <tr>
                                        <td>@item.Book.BookName</td>
                                        <td>
                                            @if (string.IsNullOrEmpty(item.Book.Image))
                                            {
                                                <img src="https://picsum.photos/150/80?random=@item.BookId"/>
                                            }
                                            else
                                            {
                                                <img src="/images/@item.Book.Image" style="width:80px;height:100px" />
                                            }
                                        </td>
                                        <td>@item.Book.Genre.GenreName</td>
                                        <td>@item.Book.Price X @item.Quantity</td>
                                        <td> @(item.Book.Price * item.Quantity) </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                }
            }
        </table>
    }
    else
    {
        <h5>No orders</h5>
    }
</div>

